annotated-types
anyio
blinker
certifi
charset-normalizer
click
distro
filelock
Flask
fsspec
gensim
h11
httpcore
httpx
huggingface-hub
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
nltk
numpy
openai
packaging
pandas
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
six
smart-open
sniffio
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
Werkzeug