/* App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  margin-bottom: 30px;
  height: 350px;
  overflow: hidden;
  text-align: center;
}

.center-align {
  margin-top: 10px;
}

.evaluate-page {
  display: flex;
  justify-content: center; /* Center both components */
  align-items: center; /* Align items in the center vertically */
  flex-wrap: wrap; /* Allow components to wrap to the next line if needed */
  gap: 20px; /* Adjust as needed for space between components */
  margin: 3rem;
}

.Chat {
  flex: 1; /* Allow Chat to grow and take remaining space */
  max-width: calc(50% - 10px); /* Set maximum width for Chat, considering the gap */
  margin-right: 5px; /* Adjust as needed for space between Chat and Upload */
  background-color: #e0e0e0;
}

.Upload {
  flex: 1; /* Allow Upload to grow and take remaining space */
  max-width: calc(50% - 10px); /* Set maximum width for Upload, considering the gap */
  margin-left: 5px; /* Adjust as needed for space between Chat and Upload */
  padding: 10px; /* Add padding around the Upload component */
}

.banner img {
  width: 100%; /* Make the image fill the container horizontally */
  height: 100%; /* Make the image fill the container vertically */
  object-fit: cover; /* Maintain aspect ratio and crop if necessary */
}
.menu {
  margin-top: 20px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.center-align {
  margin-top: 20px;
}

.evaluate-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
