.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner {
  width: 100%;
  margin-bottom: 30px;
  height: 350px;
  overflow: hidden;
  text-align: center;
}

.center-align {
  margin-top: 10px;
}

.evaluate-page {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Increase the margin for more space between components */
}

.Chat {
  flex: 1; /* Allow Chat to grow and take remaining space */
  margin-right: 20px; /* Adjust as needed for space between Chat and CsvFileUploader */
}

.Upload {
  flex: 1; /* Allow Upload to grow and take remaining space */
  max-width: 300px; /* Set a maximum width for Upload, adjust as needed */
}

.banner img {
  width: 100%; /* Make the image fill the container horizontally */
  height: 100%; /* Make the image fill the container vertically */
  object-fit: cover; /* Maintain aspect ratio and crop if necessary */
}
.menu {
  margin-top: 20px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.center-align {
  margin-top: 20px;
}

.evaluate-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
