.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 75%;
    margin: auto;
  }
  
  .message-box {
    flex: 1;
    overflow-y: auto;
    max-height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Adjusted to column layout */
  }
  
  .user-message {
    background-color: #4caf50; /* User message color */
    color: #fff; /* User message text color */
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    align-self: flex-end; /* Align user messages to the right */
    width: 25%; /* Set user message width to 25% */
    box-sizing: border-box; /* Include padding and border in width calculation */
    margin-left: -15%; /* Adjust the margin-right to extend off the right side */
    max-width: 25vw;
  }

.ai-message {
  background-color: #e0e0e0; /* AI message color */
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  align-self: flex-start; /* Align AI messages to the left */
  margin-right: -15%; /* Adjust the margin-left to extend off the left side */
  max-width: 25vw;
}
  
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 400px;
    margin: auto;

    .input-col {
      margin: 0 1rem;
    }
  }
  
  .input-row {
    justify-content: center;
  }

  .predict-button {
    width: 10rem !important;
    height: 5rem !important;
    margin: 1rem !important;
  }

  input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 10px !important;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 8px;
    width: 8rem;
    margin-bottom: 10px !important;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }
