.main.content {
    background-color: rgba(190, 210, 170, 0.25);
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;

    margin: 2%;
    padding: 2%;
    
}

.header-row {
    background-color: rgba(65, 85, 50, 0.7) !important;
    color: white !important;
}

.problem-cell {
    width: 30vw;
    max-width: 30vw !important;
    overflow: hidden !important;
}

.solution-cell {
    width: 30vw;
    max-width: 30vw !important;
    overflow: hidden !important;
}
